body{
    background:url(29.jpg);
}

table {
    font-family: arial, sans-serif;
    width:150vh;
    color:rgb(13, 17, 17);
  }
  
  td, th {
    border: 1px solid #c8c8c9;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:#dddddd ;
  }

  .input{
margin-left:auto;
margin-right:auto;
  }

 